:root {
    --first-color: #fafafa;      
    --second-color: #ffe9e3; 
    --third-color: #c4c1e0;     
    --fourth-color: #7c73e6; 
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --gradient:  linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
.mt-6 {
    margin-top: 4rem !important;
  }
  #nav1 {
    opacity: 0.97;
 }
@media (min-width: 767px) {
    video {
        max-width: 50%;
    }
    #nav1 {
        opacity: 0.75;
     }
     .mb-2, 
     #info-con, 
     #photo-L {
         font-size: 96px;
     }
  }
  @media (max-width: 767px) {
    body {
        overflow-x: hidden;
   
    }
  }
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: sans-serif;
    text-align: center;
    background: var(--gradient);
}
 
p {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--first-color);
}
a {
    text-decoration: none; 
}
 
.desc {
    text-align: center;
    font-style: italic;
    margin-top: 20px;
    padding: 10px;
    background-color: var(--first-color);
    border-radius: 4px;
}
.contact-info {
padding: 30px;
letter-spacing: 1.5;
font-size: 28px;
}
#contact {
    position: relative;
    margin: 20px;
}
.navigation-link {
   text-transform: capitalize;
   color: var(--first-color);
}
#links {
    position: relative;
    margin: 20px;
    border-radius: 4px;
    padding: 20px 5px;
    background-color: var(--fourth-color);
    transition: all 2s ease 0s;
}
#links:hover {
    top: 2px;
    box-shadow: var(--box-shadow);
    transition: all 2s ease 0s;
}
.mt-3 {
    color: var(--fourth-color);
    font-size: 48px;
 }
.mb-2, 
#info-con, 
#photo-L {
    font-size: 50px;
    text-shadow: var(--box-shadow);
    color: var(--fourth-color);
}
.footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}